body{
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
#box{
    /* position: absolute; */
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: lightblue;
    padding: 1em;
}
.special{
    background-color: lightskyblue;
    padding: 15px;
    color: white;
}
.cleared{
    clear: right;
}